---
interface Props {
    title: string;
}

const { title } = Astro.props;
---

<h2 class="flex items-center gap-4 font-heading text-3xl font-semibold mb-8">
    {title}
    <span class="flex-1 h-px bg-muted/30"></span>
</h2>
