<aside
    class="hidden md:flex flex-col justify-between h-screen w-20 fixed left-0 top-0 px-4 py-8"
>
    <div class="flex flex-col gap-6 text-muted">
        <a href="#hero" class="hover:text-accent">01</a>
        <a href="#experience" class="hover:text-accent">02</a>
        <a href="#projects" class="hover:text-accent">03</a>
        <a href="#contact" class="hover:text-accent">04</a>
    </div>

    <div class="flex flex-col gap-4 text-muted text-sm">
        <a
            href="https://github.com/ayushgpt01"
            target="_blank"
            rel="noopener noreferrer">GH</a
        >
        <a
            href="https://linkedin.com/in/ayushgpt01/"
            target="_blank"
            rel="noopener noreferrer">LI</a
        >
    </div>
</aside>
